* {
  box-sizing: border-box;
}
  
body {
  margin: 0;
  background-image: url("pexels-arthouse-studio-4338020.jpg");
  background-size:cover;
}
  
.header {
  padding: 20px;
  text-align: center;
  font-family: 'Lexend Giga', sans-serif;
  border: 2px dotted rgb(5, 5, 5);
  letter-spacing: 15px;
  margin: 10px;
}

.column {
  font-family: 'Lexend Giga', sans-serif;
  text-align: center;
  width: 33.33%;
  padding: 50px;
  border: 2px solid transparent;
  justify-content: center;
  display: inline-block;
  gap: 4px;
  box-shadow: 5px 5px 5px #777777;
}

.column:active {
  color: aliceblue;
}

.column:hover {
  border:2px solid #cfcfcf;
}

.column img {
  display: block;
  margin: auto;
  max-width:430px;
  max-height:155px;
  width: auto;
  height: auto;
  justify-content: center;
  box-shadow: 5px 5px 5px #777777;
}
    
@media screen and (max-width:600px) {
  .column {
    width: 95%;
    font-size: 7px;
    display:block;
    margin: 5px;
  }
    
  .header {
    font-size: 7px;
    letter-spacing: 2px;
  }

  }
