<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Ola Zagrabska</title> 
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@100&display=swap" rel="stylesheet"> 
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
  
        <h2 th:text="${element.getTitle()}" />

</body>
</html>   